@charset "UTF-8";

@import url('style.css');


body {
    background-color: var(--fundo-dark);
    color: var(--texto-dark);
}

strong {
    color: var(--cor-destaque)
}

a.button {
    background-color: var(--cor-destaque);
    color: var(--texto-dark);
}

a.button:hover {
    background-color: var(--cor-destaque-hover);
}