@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&family=Unbounded:wght@200..900&display=swap');

:root {
    --fundo-light: #FFFFFF;
    --fundo-dark: #0E1014;
    --texto-light: #232323;
    --texto-dark: #FFFFFF;
    --cor-destaque: #9747FF;
    --cor-destaque-hover: #8233E8;
    --fonte: "Poppins", sans-serif;
    --fonte-titulo: "Unbounded", sans-serif;
}

body {
    background-color: var(--fundo-light);
    color: var(--texto-light);
    font-family: var(--fonte);
    font-size: 24pt;
    max-width: 1200px;
    margin: auto;
    padding: 0 60px;
    text-align: center;
}

header {
    padding: 72px 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

main {
    display: flex;
    flex-direction: column;
    align-items: center;
}

h1 {
    font-family: var(--fonte-titulo);
    font-size: 64pt;
    font-weight: bold;
    margin-bottom: 36px;
    line-height: 80pt;
    text-align: center;
}

strong {
    color: var(--cor-destaque)
}

p {
    line-height: 36pt;
}

a {
    
}

#button {
    background-color: var(--cor-destaque);
    color: var(--texto-dark);
    text-decoration: none;
    font-weight: bold;
    padding: 24px 48px;
    border-radius: 36px;
    margin: 40px 0;
}

#button:hover {
    background-color: var(--cor-destaque-hover);
}

@media (max-width: 670px) {
    body {
        font-size: 20pt;
        padding: 0 30px;
    }

    header {
        padding: 32px 0 72px 0;
    }
    button {
        font-size: 20pt;
    }
    h1 {
        font-size: 40pt;
        line-height: 54pt;
    }
}